.btn-count {

    display: flex;
    align-items: center;
    gap: 30px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    border-radius:5px;
    border: none;
    cursor: pointer;
    outline: none;
}

.increment {
    background-color: green;
    color: white;
  }
  
  .decrement {
    background-color: red;
    color: white;
  }